@import url('https://fonts.googleapis.com/css2?family=Changa&family=Raleway&family=Corinthia&family=Montserrat&display=swap');
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ------ VARIABLES & GENERAL ------ */
:root {
  /* COLORS */
  --primary-color: #003049;
  --secondary-color: #D62828;
  --contrast-color: #FCBF49;

  /* FONTS */
  --header-font: 'Changa', sans-serif;
  --standard-font: 'Montserrat', sans-serif;

  /* BORDERS */
  --border-radius: .4rem;

  /* SHADOWS */
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* TRANSITIONS */
  --transition: .5s ease;
}

body {
  margin: 0;
  /* min-width: 380px; */
  font-family: var(--standard-font);
}

h1, h2, h3 {
  margin: 0;
  color: var(--primary-color);
  font-family: var(--header-font);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  margin-bottom: 2rem;
}

.siteName {
  padding-left: .25rem;
}

.siteName a {
  color: var(--primary-color);
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid var(--secondary-color);
  transition: var(--transition);
}

.siteName a:hover {
  border-bottom: 3px solid var(--contrast-color);
}

#tools {
  padding-right: .25rem;
  text-align: right;
}

#tools a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
  border-bottom: 1px solid transparent;
  transition: var(--transition);
}

#tools a:hover {
  border-bottom: 1px solid var(--primary-color);
}

nav {
  margin: .5rem 0;
  background-color: var(--primary-color);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
}

nav ul li {
  cursor: pointer;
  line-height: 4rem;
  transition: var(--transition);
}

nav ul li:hover {
  color: var(--contrast-color);
}

main {
  margin: 0 auto;
  padding: .5rem;
  max-width: 400px;
}

.hero-container {
  position: relative;
  text-align: right;
}

.hero-image {
  max-width: 100%;
}

.hero-box {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(.25rem);
  backdrop-filter: blur(.25rem);
  text-align: left;
  color: var(--primary-color);
  font-weight: bold;
}

.hero-box span:nth-child(1) {
  margin: .25rem 0;
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2rem;
}

#hero-button {
  margin: .5rem 0;
  margin-right: auto;
  padding: .25rem 1rem;
  background-color: var(--contrast-color);
  border-radius: var(--border-radius);
  font-family: var(--header-font);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  transition: var(--transition);
}

.sections-grid {
  display: grid;
  gap: 4rem;
  margin: 4rem 0;
}

.review-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-left: 1.5rem;
}

.review-list li {
  list-style-type: square;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem .5rem;
}

.upgrade-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background-color: #FFFFFF;
  box-shadow: var(--box-shadow);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.upgrade-card:hover {
  box-shadow: transparent 0px 3px 8px;
  border: 1px solid var(--secondary-color);
}

.upgrade-card:hover .upgrade-img {
  scale: .95;
}

.upgrade-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85px;
  transition: var(--transition);
}

footer {
  padding: .25rem;
}

@media screen and (min-width: 500px) {
  main {
    max-width: 500px;
  }
}

@media screen and (min-width: 700px) {
  main {
    max-width: none;
  }

  .hero-container {
    margin: 0 auto;
    max-width: 600px;
  }

  /* .sections-grid {
    grid-template-columns: 4fr 3fr;
  } */

  .sections-grid section:nth-child(1) {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .sections-grid section:nth-child(2) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-image: url('/images/site/small_check.jpg');
  }

  #wrapper {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 800px;
    border: .25rem solid var(--secondary-color);
    border-radius: 1rem;
    background-color: #FFFFFF;
  }

  main {
    max-width: 800px;
  }
}